body{
    margin: 0;
    padding: 0;
    
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {background-color: aqua;}
main {background-color: yellowgreen;}
footer {background-color: darksalmon;}