<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About me</title>
        <link rel="stylesheet" href="../../style.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="../../">Home</a></li>
                    <li><a href="../">Projects</a></li>
                    <li><a href="../../about">About me</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div>
                <p><a href="../">Back</a></p>
            </div>
            <section>
                <h1 id="title">Project</h1>
                <div class="imagesWrapper">
                    <button id="btnImageBack">&lt;</button>
                    <div id="image"><img src="" alt=""/></div>
                    <button id="btnImageNext">&gt;</button>
                </div>
                <div id="descriptionWrapper">
                    
                </div>
            </section>
            <section class="filesWrapper">
                <h2>Files / Links</h2>
                <ul id="filesList">
                    
                </ul>
            </section>
        </main>

        <footer>
            <p>Marie Holme Kjær</p>
        </footer>

        <script type="module" src="../../src/js/findProject.js"></script>
    </body>
</html>